* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
nav {
  background-color: #eaeaea;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
nav .nav-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
nav .nav-wrapper .divider {
  height: 100%;
  width: 1px;
  background-color: #b3aeae;
  margin: 0 10px;
}
nav .nav-wrapper .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-wrapper .nav-left h4 {
  margin-right: 10px;
}
nav .nav-wrapper .nav-left button {
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 12px;
}
nav .nav-wrapper .nav-left button:hover {
  color: #F56C6C;
}
nav .nav-wrapper .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav .nav-wrapper .nav-right li {
  color: #999;
  cursor: pointer;
}
nav .nav-wrapper .nav-right li:hover {
  color: #F56C6C;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 25px 0;
}
header img {
  width: 175px;
}
header form {
  border: 3px solid #F56C6C;
}
header input {
  height: 32px;
  width: 490px;
  border: none;
  padding: 0 4px;
  outline: none;
}
header button {
  height: 32px;
  width: 68px;
  color: #fff;
  background-color: #F56C6C;
  border: none;
}
